<div class="container">
    <h3>About Me</h3>
    <div class="row">
        <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="card-panel grey darken-3">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <img src="https://avatars0.githubusercontent.com/u/7490577?v=3&s=466" id="myPic">
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12 col-margin">
                        <h4>Aneesh Melkot</h4>
                        <span class="label label-primary">Developer</span>
                        <span class="label label-success">Graphic Designer</span>
                        <span class="label label-info">Gamer</span><br>
                        <span class="label label-warning">Tech Enthusiast</span>
                        <span class="label label-danger">Book Worm</span><br><br>
                        <a href="https://github.com/boffti"><span class="fa fa-github-alt fa-2x" aria-hidden="true"></span></a><br>
                        <a href="https://www.facebook.com/aneeshmelkot"><span class="fa fa-facebook-official fa-2x" aria-hidden="true"></span></a><br>
                        <a href="https://twitter.com/aneeshmelkot"><span class="fa fa-twitter fa-2x" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>